<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;600&family=Prompt:wght@200;300;400&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/style.css">
    <title>Gabija Mackevičiūtė</title>
    <link rel="shortcut icon" type="image/jpg" href="/images/favicon-32x32.png"/>
</head>
<body>
    <div class="background-wrapper">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>

        <nav class="navbar">
            <div class="menu-container">
                <div class="toggleMenu" onclick="toggleMenu()">
                    <div class="spinning-star flip2 openMenu">
                        <img src="/images/spinning-star.svg" alt="">
                    </div>
                    <div class="hamburger flip1 openMenu">
                            <img src="/images/menu-hamburger.png" alt="">
                    </div>

                </div>
                <ul class="menu mainMenu">
                    <li class="menu-item">
                        <a class="item" href="/templates/index.html">Home</a>
                    </li>
                    <li class="menu-item">
                        <a class="item" href="/templates/about-me.html">About Me</a>
                    </li>
                    <li class="star">
                        <div class="spinning-star">
                            <img src="/images/spinning-star.svg" alt="">
                        </div>
                    </li>     
                    <li class="menu-item">
                        <a class="item" href="/templates/portfolio.html">Portfolio</a>
                    </li>
                    <li class="menu-item">
                        <a class="item" href="/templates/contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        <section class="About-me">
            <div class="resume-wrapper">
                <div class="resume-grid-container">
                    <div class="item1">
                        <h2>Résumé</h2>
                    </div>
                    <div class="item2 grid-item">
                        <h3 class="grid-item-name-1">Gabija Mackevičiūtė</h3>
                        <p class="my-intro">Aspiring developer and addicted astrologer with an eye for design. To me, code is a tool to automate or build eye-catching websites.</p>
                        <div class="info">
                            <img class="icon" src="/images/time-svgrepo-com.svg" alt=""> 25 years old</div>

                        <div class="info">
                            <img class="icon" src="/images/location-svgrepo-com.svg" alt="">
                             Vilnius, Lithuania</div>

                        <div class="info">
                            <img class="icon" src="/images/email-svgrepo-com.svg" alt=""> gabimack@gmail.com</div>
                    </div>
                    <div class="item3 grid-item">
                        <h3 class="grid-item-name-2">Languages</h3>
                        <div class="info">Lithuanian - native</div>
                        <div class="info">English - C1</div>
                        <div class="info">French - A2</div>
                    </div>
                    <div class="item4 grid-item">
                        <h3 class="grid-item-name-1">Skills</h3>
                        <div class="skills-container">
                            <p class="my-intro">I am a beginner in many of these tools and technologies, but all of them are on my improvement list. </p>
                            <div class="skill">
                                <span>HTML</span>

                            </div>
                            <div class="skill">
                                <span>CSS</span>

                            </div>
                            <div class="skill">
                                <span>JavaScript</span>

                            </div>
                            <div class="skill">
                                <span>SASS</span>

                            </div>
                            <div class="skill">
                                <span>Python</span>

                            </div>
                            <div class="skill">
                                <span>Bootstrap</span>

                            </div>
                            <div class="skill">
                                <span>WordPress</span>

                            </div>
                            <div class="skill">
                                <span>PostgreSQL</span>

                            </div>
                            <div class="skill">
                                <span>Github</span>

                            </div>
                            <div class="skill">
                                <span>Photoshop</span>

                            </div>
                            <div class="skill">
                                <span>SEO</span>

                            </div>
                            <div class="skill">
                                <span>React</span>

                            </div>
                            <div class="skill">
                                <span>Typescript</span>

                            </div>
                            <div class="skill">
                                <span>Three Js</span>

                            </div>
                        </div>
                    </div>
                    <div class="item5 grid-item">
                        <h3 class="grid-item-name-1">Education</h3>
                        <div class="education">
                            <div class="info">
                                <img class="icon" src="/images/education-svgrepo-com.svg" alt="">
                                Full Stack course by CodeAcademy (HTML, CSS, JS + Python)
                            </div>
                            <div class="info">
                                <img class="icon" src="/images/education-svgrepo-com.svg" alt="">
                                SEO course by CodeAcademy (Ahrefs, Screamingfrog)
                            </div>
                            <div class="info">
                                <img class="icon" src="/images/education-svgrepo-com.svg" alt="">
                                Hopefully Javascript course by Vilnius Coding School (React, Typescript)
                            </div>
                            <div class="info">
                                <img class="icon" src="/images/education-svgrepo-com.svg" alt="">
                                Hopefully Three Js course by Bruno Simon
                            </div>
                        </div>
                    </div>
                    <div class="item6 grid-item">
                        <h3 class="grid-item-name-2">Experience</h3>
                        <div class="info">
                            <img class="icon" src="/images/work-svgrepo-com.svg" alt="">
                            Communications Associate (2022/5-2022/7) at SINOFY (Powerpoint, Excel, SMM)
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="/scripts/script.js"></script>
</body>
</html>