<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;600&family=Prompt:wght@200;300;400&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../css/style.css">
    <title>Gabija Mackevičiūtė</title>
    <link rel="shortcut icon" type="image/jpg" href="images/favicon-32x32.png"/>
</head>
<body>
    <div class="background-wrapper">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>

        <nav class="navbar">
            <div class="menu-container">
                <div class="toggleMenu" onclick="toggleMenu()">
                    <div class="spinning-star flip2 openMenu">
                        <img src="images/spinning-star.svg" alt="">
                    </div>
                    <div class="hamburger flip1 openMenu">
                            <img src="images/menu-hamburger.png" alt="">
                    </div>

                </div>
                <ul class="menu mainMenu">
                    <li class="menu-item">
                        <a class="item" href="index.html">Home</a>
                    </li>
                    <li class="menu-item">
                        <a class="item" href="templates/about-me.html">About Me</a>
                    </li>
                    <li class="star">
                        <div class="spinning-star">
                            <img src="images/spinning-star.svg" alt="">
                        </div>
                    </li>     
                    <li class="menu-item">
                        <a class="item" href="templates/portfolio.html">Portfolio</a>
                    </li>
                    <li class="menu-item">
                        <a class="item" href="templates/contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        <section class="Contact">
            <h1 class="contact-heading">Get In Touch</h1>

                <a class="email-btn" href="mailto:abc@domain.com">Write Me an Email !</a>

        </section>
    </div>
    <script src="scripts/script.js"></script>
</body>
</html>